@import "app/libs/fonts/addFonts"



*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
body
    width: 100%
    overflow: hidden
    overflow-y: scroll
    font-size: 14px
    font-family: Solomon Sans Normal
.container
    width: 100%
    overflow: hidden
section
    overflow: hidden
    width: 100%
    height: auto
    position: relative



@import "app/sass/media"